* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  letter-spacing: 0.2rem;
}
span {
  background: linear-gradient(
    90deg,
    #ec4899 0%,
    #8b5cf6 100%,
    rgba(255, 255, 255, 0) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
body {
  background-color: black;
  color: #fff;
  margin-bottom: 200px;
}

.container {
  margin-top: 100px;
  display: flex;
  align-items: center;

  gap: 2rem;
  flex-direction: column;
  /* height: 100vh; */
}

.dummy {
  font-size: 3rem;
}
.dummy-2 {
  font-size: 2rem;
}

.todoList {
  font-size: 1rem;
}

.input-div {
  display: flex;
  gap: 2rem;
  width: 30%;
  justify-content: center;
  align-items: center;
}
.input-div span {
  font-size: 1rem;
}
.input-div input {
  flex: 1;
  /* width: 20%; */
  height: 50px;
  border-radius: 5rem;
  outline: none;
  border: none;
  padding: 1.5rem;
  letter-spacing: 3px;
  font-size: 1rem;
}

::placeholder {
  font-size: 0.7rem;
}

.main-task-cointainer {
  gap: 1rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.task-container {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: #111827;
  padding: 1rem 2rem;
  border-radius: 2rem;
}
.checkbox {
  width: 40px;
  height: 40px;
}
.inner-div {
  display: flex;
  gap: 2rem;
}

@media screen and (max-width: 576px) {
  .dummy {
    font-size: 1.5rem;
  }
  .dummy-2 {
    font-size: 1rem;
    text-align: center;
  }
  .delete {
    font-size: 0.7rem;
  }
  .edit {
    font-size: 0.7rem;
  }
  .todoList {
    font-size: 0.7rem;
    width: 300px;
    overflow: scroll;
    text-align: center;
  }
  .inner-div {
    gap: 10px;
  }
  .task-container {
    gap: 10px;
    padding: 0.5rem 1rem;
  }
}
